body {
  background-color: rgba(240, 255, 255, 0.8); /* note that rgba distinguishes the value of red, green and blue (a value between 0 and 255)
  and a or alpha refers to the opacity of that colour (a value between 0 and 1).
  and in this case, the colour is "azure" - whatever the f__k that means*/
  text-align: center;
}

.h1  {
  color: DimGrey;
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  font-family: Lucida Console;
}

.table {
  border: 0;
  
}
